.tab-content {
  display: flex;
  justify-content: center;
}

.tab-content p {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.tab-pane img {
  max-width: 700px;
}

#left-tabs-example-tabpane-fourth img {
  filter: grayscale(70%);
  transition: all 0.55s ease;
}

#left-tabs-example-tabpane-fourth img:hover {
  filter: grayscale(0%);
  border-radius: 50px;
  transition: all 0.55s ease;
}
